/*Texte change de couleur au survol pour les balises header1*/

.header1:hover{
    color: #670886;
}

/*Effet d'aggrandissement au survol*/

.profile-img:hover{
    transform: scale(1.1);
}

/*Aggrandissement au survol + inversion des couleurs*/

.hobby-icon:hover{
    transform: scale(1.2);
    color: white;
    background-color: black;
}

