
/* Media query for smartphones */
@media screen and (max-width: 759px) {
  body {
      flex-direction: column;
  }
  
  .left-column, .right-column {
      width: 100%;
  }
  
  .right-column {
      border-left: none;
      padding: 20px;
  }
  
  .name {
      font-size: 28px;
  }
  
  .color_grey {
      font-size: 16px;
  }
  
  .section-title {
      font-size: 22px;
  }
  
  .timeline-title {
      font-size: 16px;
  }
  
  .timeline-subtitle {
      font-size: 15px;
  }
  
  .recommendations {
      flex-direction: column;
  }
  
  .recommendation {
      width: 100%;
      margin-bottom: 20px;
  }
}

/* Print styles */
@media print {
  @page {
      size: A4 portrait;
      margin: 5mm; 
  }
  
  body {
      width: 210mm;
      height: 297mm;
      margin: 0;
      box-shadow: none;
  }
  
  .left-column {
      width: 35%;
  }
  
  .right-column {
      width: 65%; 
      padding: 10px;
  }
  
  .profile-img {
      width: 100px; 
      height: 100px;
      margin: 15px auto;
      border: 3px solid white;
  }
  
  .section {
      margin-top: 50px;
      margin-bottom: 30px;
      page-break-inside: avoid;
  }
  
  .section-header { 
      margin-top: 35px;
  }
  
  .section-title {
      margin-bottom: 10px;
      font-size: 18px;
  }
  
  .timeline-item {
      margin-bottom: 10px; 
      margin-top: 30px;
      page-break-inside: avoid;
  }
  
  .header {
      margin-top: 20px;
  }
  
  /* Ajustements des tailles de police pour l'impression */
  .name {
      font-size: 25px;
  }
  
  .color_grey {
      font-size: 15px;
  }
  
  .about-me {
      font-size: 11px;
      padding: 10px;
  }
  
  .contact-info {
      padding: 10px;
  }
  
  .contact-info p {
      margin-bottom: 5px;
      font-size: 11px;
  }
  
  .hobbies {
      padding: 10px;
  }
  
  .hobby-icon {
      width: 30px;
      height: 30px;
      border: 1px solid #333;
      margin: 2px;
  }
  
  .timeline-title {
      font-size: 15px;
      margin: 3px 0;
  }
  
  .timeline-subtitle {
      font-size: 13px;
      margin-bottom: 5px;
  }
  
  .timeline-description {
      font-size: 11px;
      line-height: 1.3;
  }
  
  .timeline-date, .timeline-place {
      font-size: 11px;
  }
  
  .recommendation {
      width: 48%;
      font-size: 11px;
  }
  
  .recommendation p {
      margin-bottom: 3px;
  }
}