
/*Responsive telephone et ordinateur*/

@media screen and (min-width: 760px) {
  body {
      flex-direction: row;
  }
  
  .left-column {
      width: 30%;
  }
  
  .right-column {
      width: 70%;
      border-left: 1px black solid;
      padding: 40px;
  }
  
  .name {
      font-size: 36px;
  }
  
  .section-title {
      font-size: 24px;
  }
  
  .recommendations {
      flex-direction: row;
      justify-content: space-between;
  }
  
  .recommendation {
      width: 48%;
      margin-bottom: 0;
  }
  
  .color_grey {
      font-size: 18px;
  }
  
  .timeline-title {
      font-size: 18px;
  }
  
  .timeline-subtitle {
      font-size: 16px;
  }

}
/*
/*Ajouter css pour le print format A4*/

@media print {

  @page {
    size: A4 portrait;
    margin: 5mm; 
  }
  
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    box-shadow: none;
    flex-direction: row;
  }
  
  .left-column {
      width: 35%;
  }
  
  .right-column {
    width: 65%; 
    padding: 10px;
  }
  

  .profile-img {
    width: 100px; 
    height: 100px;
    margin: 15px auto;
    border: 3px solid white;
  }
  
 
  .section {
    margin-top: 50px;
    margin-bottom: 30px;
    page-break-inside: avoid;
  }
  

  .section-header{ 
      margin-top:35px;
  }

  .section-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .timeline-item {
    margin-bottom: 10px; 
    margin-top: 30px;
  }

  .header{
      margin-top: 20px;
  }
  
  /* Ajuster les tailles de police */
  .name {
    font-size: 25px;
  }
  
  .color_grey {
    font-size: 15px;
  }
  
  .about-me {
    font-size: 11px;
    padding: 10px;
  }
  
  .contact-info {
    padding: 10px;
  }
  
  .contact-info p {
    margin-bottom: 5px;
    font-size: 11px;
  }
  
  .hobbies {
    padding: 10px;
  }
  
  .hobby-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    margin: 2px;
  }
  
  .timeline-title {
    font-size: 15px;
    margin: 3px 0;
  }
  
  .timeline-subtitle {
    font-size: 13px;
    margin-bottom: 5px;
  }
  
  .timeline-description {
    font-size: 11px;
    line-height: 1.3;
  }
  
  .timeline-date, .timeline-place {
    font-size: 11px;
  }
  

  /* Empêcher les sauts de page indésirables */
  .section, .timeline-item {
    page-break-inside: avoid;
  }
  
  /* Optimisation pour les recommandations */
  .recommendations {
    display: flex;
    flex-direction: row;
  }
  
  .recommendation {
    width: 48%;
    font-size: 11px;
  }
  
  .recommendation p {
    margin-bottom: 3px;
  }
}